<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<ul>
  <li><a href="/signup">Sign up</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/main">Rooms (no auth required)</a></li>
  <li><a href="/private">Protected Rooms (requires authentication!)</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>